@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-red-color: #FF0000;
	--main-black-color: #111111;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}


.text-main {
	color: var(--main-red-color);
}

.bg-main {
	background-color: var(--main-black-color);
}

/* size */
.h-5\/10vh {
	height: 50vh;
}

.h-6\/10vh {
	height: 60vh;
}

.h-7\/10vh {
	height: 70vh;
}

@media (min-width: 768px) {

	/* size */
	.md\:h-3\/10vh {
		height: 30vh;
	}

	.md\:h-4\/10vh {
		height: 40vh;
	}

	.md\:h-5\/10vh {
		height: 50vh;
	}
}


::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: #292929;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #11171A;
	border-radius: 10px;
}